@import url("https://fonts.googleapis.com/css?family=Tajawal:300,400,500");
body {
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400; }

::selection {
  background: #ffe5b4;
  color: #0c4549; }

::-webkit-scrollbar {
  width: 5px;
  height: 7px; }

::-webkit-scrollbar-track-piece {
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background-color: #7ebdc2;
  border-radius: 7px; }

a {
  color: #0c4549;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s; }

a:hover {
  text-decoration: none;
  color: #7ebdc2; }

#create {
  border-bottom: 2px solid #ffe5b4;
  padding: 20px;
  padding-left: 90px;
  margin-left: -90px;
  font-weight: 500;
  font-size: 30px;
  background: #fff;
  z-index: 9999; }

#curate {
  width: 450px;
  height: 100%;
  background: #fff;
  position: fixed;
  padding-left: 80px;
  padding-top: 17px;
  padding-right: 20px;
  z-index: 999999;
  margin-left: -450px;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  transition: 0.8s; }
  #curate h2 {
    padding-top: 6px; }

#curate::before {
  content: " ";
  position: absolute;
  display: inline-block;
  margin-top: 73px;
  margin-left: -90px;
  height: 2px;
  text-shadow: none;
  background-color: #ffe5b4;
  width: 460px; }

.abtxt {
  margin-left: -50px; }
  .abtxt a {
    border-bottom: 1px solid #ffe5b4;
    padding-bottom: 3px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }
  .abtxt a:hover {
    border-bottom: 1px solid #ff7272;
    color: #0c4549; }

b {
  font-weight: 500; }

#container {
  margin: 0 auto; }

.section {
  width: 100%;
  overflow: none;
  display: table;
  margin: 0;
  height: 100vh; }

.section:nth-child(2) {
  background: #f9f9f9; }

.section:nth-child(3) {
  background: #4c4c4c; }

#header {
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: #0c4549;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

#header a {
  font-weight: 400;
  color: #0c4549;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  -moz-box-shadow: inset 0 -3px 0px 0px #7ebdc2;
  -webkit-box-shadow: inset 0 -3px 0px 0px #7ebdc2;
  box-shadow: inset 0 -3px 0px 0px #7ebdc2;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

#header a:hover {
  -moz-box-shadow: inset 0 -20px 0 0 #ffe5b4;
  -webkit-box-shadow: inset 0 -20px 0 0 #ffe5b4;
  box-shadow: inset 0 -20px 0 0 #ffe5b4; }

.icon img {
  margin-top: 80px;
  width: 200px;
  height: 200px; }

.sideicon {
  position: inline-block;
  float: left;
  padding-right: 20px; }
  .sideicon img {
    width: 50px;
    height: 50px;
    border-radius: 50px; }

.girl img {
  top: 0px;
  margin-top: -240px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  transition: 0.8s; }

.girl:hover img {
  opacity: 1; }

.name {
  font-size: 40px;
  color: #0c4549;
  margin-top: -20px; }

.portfolio {
  padding-left: 80px;
  border-right: 1px solid #eee;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }

.entry {
  border: 1px solid #eee;
  background: #fff;
  margin: 20px;
  padding: 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }
  .entry img {
    height: 300px; }

.caption {
  background-color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  position: absolute;
  text-align: right;
  width: 200px;
  margin-top: -50px;
  margin-left: 0px;
  border: 1px solid #eee;
  height: 100px;
  font-size: 14px;
  color: #0c4549;
  height: 50px;
  overflow: hidden;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s; }

.capt_sub {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 25px; }

.capt_sub:after {
  content: " ";
  position: absolute;
  display: inline-block;
  margin-top: 40px;
  margin-left: -30px;
  height: 3px;
  text-shadow: none;
  background-color: #7ebdc2;
  width: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

.entry:hover .caption {
  height: 140px;
  margin-top: -140px; }

.caption a {
  text-transform: uppercase;
  font-size: 12px;
  color: #0c4549;
  padding-bottom: 2px;
  display: inline-block;
  border-bottom: 1px solid #7ebdc2;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }

.caption a:hover {
  border-bottom: 1px solid #ff7272; }

#container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 110%; }

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #container {
  padding-top: 100px; }

.overlay {
  background: #0c4549;
  font-family: georgia;
  border-radius: 50px;
  color: #fff;
  font-size: 25px;
  width: 50px;
  height: 50px;
  position: absolute;
  padding: 5px 10px 10px 20px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

#create:hover .overlay {
  opacity: .8; }

.closeoverlay {
  background: #0c4549;
  margin-top: -50px;
  font-family: georgia;
  border-radius: 50px;
  color: #fff;
  font-size: 25px;
  width: 50px;
  height: 50px;
  position: absolute;
  padding: 5px 10px 10px 20px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

#curate:hover .closeoverlay {
  opacity: .8; }

/*# sourceMappingURL=index.css.map */
