::selection {
  background: #b55389;
  color: #eeeeff; }

#about-blck, #port-blck, .section #footer-blck {
  padding: 80px;
  margin: 0 auto;
  float: center; }

body {
  color: #4E4C67;
  background: #635DAF;
  font-family: 'Karla', sans-serif;
  margin: 0;
  overflow-x: hidden; }

h2 {
  font-size: 30px;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase; }

a {
  color: #b55389;
  text-decoration: none;
  padding: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }

a:hover {
  color: #639FED; }

#header {
  position: fixed;
  z-index: 999;
  opacity: .9;
  display: none;
  height: 80px;
  background: #fff;
  padding: 5px;
  width: 100%; }
  #header img {
    width: 150px;
    margin-top: 15px;
    margin-left: 10px; }

#nav {
  margin-top: -50px;
  position: absolute;
  margin-left: 180px; }

#nav a {
  display: inline-block;
  padding: 10px; }

.section {
  width: 100%;
  overflow: none;
  display: table;
  margin: 0;
  background-color: #eeeeff;
  color: #4E4C67;
  height: 100vh; }
  .section:nth-of-type(2n) {
    background-color: #635DAF;
    color: #fff; }
  .section:nth-child(3) {
    height: auto; }
  .section:nth-child(4) {
    height: auto; }

#container {
  margin: 0 auto; }

#name-blck {
  margin: 0 auto;
  text-align: center;
  left: -50px;
  margin-top: 15%;
  float: center;
  z-index: 1;
  width: 100%;
  padding: 40px;
  position: relative;
  background: rgba(238, 238, 255, 0.2);
  background-color: rgba(238, 238, 255, 0.2);
  margin-left: 40px; }

.title {
  font-family: "suburban",sans-serif;
  font-size: 90px;
  padding: 30px;
  background: rgba(220, 220, 255, 0.4);
  background-color: rgba(220, 220, 255, 0.4);
  color: #4E4C67;
  margin-left: -40px; }

.shape {
  position: fixed;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

#test {
  opacity: 0; }

#tri1 {
  left: 80%;
  top: 40%; }

#tri2 {
  top: 70%;
  left: 5%; }

#cir1 {
  top: 10%;
  left: 5%; }

#cir2 {
  top: 10%;
  left: 80%; }

#scrib1 {
  left: 30%;
  top: -40px; }

#scrib2 {
  top: 50%;
  left: 40%; }

.entry {
  float: left;
  margin: 10px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
  border: 1px solid #eee;
  background: #fff;
  z-index: 1; }

.entry img {
  width: 300px;
  -webkit-transition: .5s;
  transition: .5s; }

.capt {
  padding: 5px;
  background: #dadaf7;
  width: 290px;
  height: 150px;
  position: relative;
  margin-top: -160px;
  -webkit-transition: .5s;
  transition: .5s; }

.entry:hover .capt {
  margin-top: 0px; }

#about-blck {
  width: 300px;
  position: relative;
  z-index: 1;
  float: center;
  text-align: justify;
  line-height: 25px;
  font-weight: 400; }
  #about-blck a {
    color: #bebee8;
    border-bottom: 1px solid #bebee8;
    padding-bottom: 5px; }

#port-blck {
  min-height: 100vh;
  height: auto;
  position: relative;
  z-index: 1;
  margin-left: 70px; }

.section #footer-blck {
  max-height: 40vh;
  position: relative;
  z-index: 1; }

#media {
  text-align: right;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.7; }

#media img {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 4px;
  -webkit-transition: .5s;
  transition: .5s; }

#media:hover {
  opacity: 1; }

@media only screen and (max-device-width: 480px) {
  body {
    overflow-x: hidden; }

  .title {
    font-size: 180px; }

  #header {
    height: auto; }
    #header img {
      display: none; }

  #nav {
    font-size: 50px;
    position: relative;
    margin: 0 auto;
    padding: 10px; }
    #nav a {
      padding: 20px;
      display: inline-block; }

  #name-blck {
    margin-top: 50%; }

  #section {
    height: auto; }

  #about-blck {
    font-size: 50px;
    width: 80%;
    line-height: 60px; }

  h2 {
    font-size: 90px; }

  .entry {
    margin: 0 auto;
    float: center;
    width: 600px;
    height: 600px;
    font-size: 30px; }

  .entry img {
    width: 600px;
    min-height: 600px; }

  .capt {
    width: 570px;
    height: 250px;
    margin-top: -270px;
    padding: 20px;
    line-height: 50px; }

  .entry:hover .capt {
    margin-top: 0px; } }

/*# sourceMappingURL=index.css.map */
