@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,500');

$darkblue: #0c4549;
$lightblue: #7ebdc2;
$red: #ff7272;
$yellow: #ffe5b4;
$gray: #f9f9f9;

@mixin transition($dur) {
    -webkit-transition: $dur;
    -moz-transition: $dur;
    transition: $dur;

}

body {
  font-family: Tajawal;
  font-size:16px;
  background: $gray;
}

::selection {
    background:$yellow;
    color:$darkblue;
}

::-webkit-scrollbar {
    width:5px;
    height:7px;
}
::-webkit-scrollbar-track-piece {
    background-color:#fff;
}
::-webkit-scrollbar-thumb {
    background-color:$lightblue;
    border-radius:7px;
}

a {
    color:$darkblue;
    text-decoration:none;
    @include transition(.6s);
}

a:hover {
    color:$lightblue;
}

#nav {
  position:fixed;
  margin-top: 90px;
}

#nav a {
  padding:10px;
  width:107px;
  background: $yellow;
  display:block;
  @include transition(.7s);
}

#nav a:hover {
  background: $lightblue;
  color:#fff;
  width: 80px;
}

#header {
  position:fixed;
  color: $darkblue;
  border-bottom:2px solid $yellow;
  padding:20px;
  font-weight:500;
  font-size:30px;
  background:#fff;
  z-index:9999;
  margin:0px;
}

.lnk {
  text-align:center;
  margin:20px;
}

.lnk a{
  padding:6px;
  padding-left:20px;
  padding-right:20px;
  background: $yellow;
  color: $darkblue;
  margin:20px;
  border-radius:4px;
  @include transition(.5s);
}

.lnk a:hover {
  background: $lightblue;
}
#container {
  margin-top:20px;
  background: #fff;
  padding:20px;
  margin: 0 auto;
  width:600px;
}

#container img {
  max-width:270px;
  float:center;
  padding:10px;
}
