@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,500');

$darkblue: #0c4549;
$lightblue: #7ebdc2;
$red: #ff7272;
$yellow: #ffe5b4;

@mixin transition($dur) {
    -webkit-transition: $dur; 
    -moz-transition: $dur;
    transition: $dur;

}

@mixin rgba($r, $g, $b, $a) {
    background-color: rgba($r, $g, $b, $a);
    background: rgba($r, $g, $b, $a);
}


@mixin box-shadow($a, $b, $c, $d, $e) {
    -moz-box-shadow: inset  $a $b $c $d $e;
    -webkit-box-shadow: inset  $a $b $c $d $e;
    box-shadow: inset  $a $b $c $d $e;
}
body {
    font-family: 'Tajawal', sans-serif;
    font-size:16px;
    font-weight:400;
}

::selection {
    background:$yellow;
    color:$darkblue;
}
   
::-webkit-scrollbar {
    width:5px;
    height:7px;
}
::-webkit-scrollbar-track-piece {
    background-color:#fff;
}
::-webkit-scrollbar-thumb {
    background-color:$lightblue;
    border-radius:7px;
}   

a {
    color:$darkblue;
    @include transition(.6s);
}

a:hover {
    text-decoration:none;
    color:$lightblue;
}

.create {
    color:$darkblue;
    font-weight:500;
    font-size:25px;
    padding-bottom:20px;
}

.create:before {
    display: inline-block;
    margin: 10px 6px 5px 5px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #eee;
    width: 50px;
    @include transition(.5s);
}

.create:after {
    display: inline-block;
    margin: 10px 6px 5px 5px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #eee;
    width: 120px;
    @include transition(.5s);
}


b {
    font-weight:500;
}

#container {
    margin:0 auto;
}

#sidebar {
    position:fixed;
    padding:20px;
    text-align:center;
    width:300px;
    font-size:25px;
    color:$darkblue;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -170px;
    @include transition(.5s);
}

#sidebar a{
    font-weight:400;
    color:$darkblue;
    display:inline-block;
    padding-left:5px;
    padding-right: 5px;
    padding-bottom:2px;

    @include box-shadow(0, -3px, 0px, 0px, $lightblue);
    @include transition(.5s);

}


#sidebar a:hover {
    @include box-shadow(0, -20px, 0, 0, $yellow);
}

.icon img {
    width:200px;
    height:200px;
    position:relative;
}

.girl img {
    position:absolute;
    top:0px;
    left:50px;
    z-index:-1;
}

.amp img {
    position:absolute;
    top:0px;
    left:50px;
    @include transition(1s);
}

#sidebar:hover .amp img {
    opacity:0;
}
.name {
    font-size:40px;
    margin-top:200px;
    color:$darkblue;
    margin-bottom:-10px;
}

#portfolio {
    opacity:0;
    position:absolute;
    padding:10px;
    margin-left:200px;
    border-right:1px solid #eee;
    width:400px;
    padding-top:90px;
    margin-top:0px;
    padding-bottom:30px;
    @include transition(.4s);
}

#miniheader {
    z-index:9999;
    position:fixed;
    padding:10px;
    margin-top:-90px;
    width:380px;
    @include rgba(255,255,255,.8);
}

#about {
    position:fixed;
    right:40px;
    padding:20px;
    width:600px;
    border-left:1px solid #eee;
    height:100%; 
    opacity:0;
    @include transition(.4s);
}

.further {
    margin:10px;
    margin-left:-50px;
    font-size:14px;
    padding-left:40px;
    padding-top:10px;
    border-top:1px solid #eee;
}
.media {
    margin:10px;
    margin-left:-50px;
    padding-left:40px;
    padding-top:10px;
    border-top:1px solid #eee;
}

.media a {
    display:block;
    color:rgb(87, 87, 87);
    padding:10px;


}



.media a:before {
    display: inline-block;
    margin: 10px 6px 5px 5px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #eee;
    width: 20px;
    @include transition(.5s);
}


.media a:hover:before {
    margin: 10px 6px 5px 5px;
    width:45px;
    content: " ";
    background-color:$red;


}

.entry {
    position:relative;
    width:300px;
    margin:10px;
    background:rgb(245, 245, 245);
    margin-bottom:40px;


    img {
        width:300px;
        padding:10px;
        border:1px solid #eee;
    }
}

.entry:before {
    z-index:-1;
    position:absolute;
    display: inline-block;
    height: 1px;
    margin-left:300px;
    margin-top:153px;
    content: " ";
    text-shadow: none;
    background-color: #eee;
    width: 80px;
    @include transition(.5s);
}

.entry:hover .dot{
    background:$lightblue;

}

.caption {
    @include rgba(255,255,255, .8);
    padding:10px;
    position:absolute;
    text-align:right;
    width:200px;
    margin-top:-50px;
    margin-left:100px;
    border: 1px solid #eee;
    height:100px;
    font-size:14px;
    color:$darkblue;
    height:50px;
    overflow:hidden;
    @include transition(.6s);
}

.capt_sub {
    text-transform:uppercase;
    font-weight:500;
    font-size:18px;
    padding-bottom:25px;
}

.capt_sub:after {
    content: " " ;
    position:absolute;
    display: inline-block;
    margin-top:40px;
    margin-left:-30px;
    height: 3px;
    text-shadow: none;
    background-color: $lightblue;
    width: 30px;
    @include transition(.5s);
}


.entry:hover .caption {
    height:140px;
    margin-top:-140px;
}

.caption a {
    text-transform:uppercase;
    font-size:12px;
    color: $darkblue;
    padding-bottom:2px;
    display:inline-block;
    border-bottom:1px solid $lightblue;
    @include transition(.5s);
}

.caption a:hover {
    border-bottom: 1px solid $red;
}
.dot{
    position:absolute;
    width:7px;
    height:7px;
    z-index:999999;
    background:#ced9df;
    border-radius:10px;
    margin-left:376px;
    margin-top:150px;
    z-index:99;
    @include transition(.5s);
}


#pclose {
    font-size:14px;
    text-align:right;
    width:300px;
    margin-top:-48px;
    margin-right:200px;
    
    @extend %close;
}


%close {
    a {
        color:$lightblue;
        @include box-shadow(0, -3px, 0px, 0px, $yellow);
        @include transition(.6s);
        padding:5px;
    }

    a:hover {
        @include box-shadow(0, -30px, 0, 0, $yellow);
        color:$darkblue;
    }
  }

#cclose {
    font-size:14px;
    text-align:right;
    width:500px;
    margin-top:-48px;
    margin-right:300px;
    
    @extend %close;
}


.curate {
    color:$darkblue;
    font-weight:500;
    font-size:25px;
    padding:20px;
}

.curate:before {
    display: inline-block;
    margin: 10px 6px 5px 5px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #eee;
    width: 50px;
    @include transition(.5s);
}

.curate:after {
    display: inline-block;
    margin: 10px 6px 5px 5px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #eee;
    width: 280px;
    @include transition(.5s);
}