::selection {
  color: #f2f2f2;
  background: #9AD4D6; }

body {
  color: #f2f2f2;
  background: #fff;
  font-family: 'Karla', sans-serif; }

h1 {
  font-size: 35px;
  color: #101935;
  font-weight: normal; }

h2 {
  font-size: 18px;
  color: #3b4155;
  font-weight: normal; }

h3 {
  font-size: 18px;
  color: #101935;
  font-weight: normal;
  padding: 1px;
  text-align: center; }

#content {
  font-size: 14px;
  margin: auto;
  float: center;
  width: 650px;
  z-index: -100;
  color: #101935;
  background: #fff;
  padding: 10px; }

#content a {
  color: #101935;
  border-bottom: 1px solid #9AD4D6;
  padding: 3px; }

#overlay {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #563787;
  background-image: url("https://i.imgur.com/McYAzxh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; }

#marble {
  width: 650px;
  height: 200px;
  background-color: #fff;
  background-image: url("https://ih1.redbubble.net/image.238694460.3355/flat,1000x1000,075,f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  clip: rect(0px, 60px, 200px, 0px); }

a {
  text-decoration: none; }
  a:hover {
    color: #fff; }

.title {
  font-family: 'Shrikhand', cursive;
  font-size: 90px; }

#header {
  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: relative;
  margin: auto;
  float: center;
  text-align: center;
  padding: 50px;
  margin-top: 15%; }

#navigation {
  padding: 10px;
  font-size: 20px; }

#navigation a {
  text-transform: uppercase;
  display: inline-block;
  background: transparent;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  opacity: .8;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 3s;
  transition-delay: .3s;
  border-radius: 3px;
  letter-spacing: 1px; }

#navigation a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8); }

#media {
  text-align: right;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.7; }

#media img {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 4px;
  -webkit-transition: .5s;
  transition: .5s; }

#media:hover {
  opacity: 1; }

#sidenav {
  width: 200px;
  padding: 20px;
  font-size: 25px;
  float: left;
  text-align: right;
  margin-left: -245px;
  border-right: 1px solid #eee;
  position: fixed; }

#sidenav img {
  width: 90px;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 60px; }

#sidenav a {
  font-size: 14px;
  text-align: right;
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  box-shadow: 100px 0px 0px 0px #fff inset;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 1s;
  transition-delay: .1s; }

#sidenav a:hover {
  color: #f2f2f2;
  box-shadow: 0px 0px 0px 0px #fff inset;
  background: #563787;
  border-bottom: 1px solid #563787;
  padding-right: 15px; }

#sidecontain {
  padding: 15px; }

.subtitle {
  font-size: 25px;
  font-style: italic;
  text-transform: uppercase;
  color: #0f2d4f; }

.entry {
  float: left;
  margin: 10px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
  border: 1px solid #eee; }

.entry img {
  width: 250px;
  -webkit-transition: .5s;
  transition: .5s; }

.capt {
  padding: 5px;
  background: #eee;
  width: 240px;
  height: 130px;
  position: relative;
  margin-top: -140px;
  -webkit-transition: .5s;
  transition: .5s; }

.entry:hover .capt {
  margin-top: 0px; }

#port {
  display: none; }

#credits {
  display: none; }

/*# sourceMappingURL=home.css.map */
