.content-post .main img {
  width: 100%;
  max-width: 900px;
  /* height: 500px; */
  margin-bottom: 20px;
  margin-top: 10px;
}

.content-post {
  max-width: 900px;
  padding: 5px;
  padding-top: 30px;
}
.content-post a {
  padding-bottom: 4px;
  -moz-box-shadow: inset 0 -1px 0px 0px #dddddd;
  -webkit-box-shadow: inset 0 -1px 0px 0px #dddddd;
  box-shadow: inset 0 -1px 0px 0px #dddddd;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.content-post a:hover {
  -moz-box-shadow: inset 0 -3px 0 0 #f9e369;
  -webkit-box-shadow: inset 0 -3px 0 0 #f9e369;
  box-shadow: inset 0 -3px 0 0 #f9e369;
}

.content-post .main--border img {
    border: 1px solid #dddddd;
}
.pic-set {
  display: flex;
  position: relative;
  width: 100%;
  padding: 20px 0px 20px 0px;
  flex-wrap: wrap;
}

.pic-set--main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.side_pic img {
    max-width: 300px;
    margin: 10px 20px 20px 10px;
    
}

.side_pic--left {
    float: left;
}

.side_pic--right {
    float: right;
}

.side_pic--border img {
    border: 1px solid #dddddd;
}
.pic-set--main img {
  height: 300px;
  padding: 2px;
}

.pic-set img {
  height: 180px;
  width: auto;
  padding: 2px;
}


.capt {
  line-height: 24px;
  font-size: 14px;
  color: #444444;
}