.entry {
  margin: 25px;
  height: 300px;
  position: relative;
}

.entry--border img {
    border: 1px solid #dddddd;
}
.entry img{
  height: 300px;
}

.entry .overlay {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  background:#fff;
  color: #fff;
  position: absolute;
  height: 300px;
  width: 100%;
  opacity: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  letter-spacing: 3px;
  -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

.entry span {
  padding: 10px;
  line-height: 40px;
}

.entry span .entry__title {
    padding-bottom: 20px;
    font-size: 35px;
    border-bottom: 1px solid #ffffff;
    font-weight: 700;
    font-family: acumin-pro-wide, sans-serif;
}
.entry:hover .overlay {
  opacity: .9;
  background: #2a73ff;
  letter-spacing: 0px;
}

