@import url("https://use.typekit.net/ymg1cyn.css");
@import './entry.css';

::selection {
  background: #2a73ff;
  color: #fff; }

::-webkit-scrollbar {
  width: 5px;
  height: 7px; }

::-webkit-scrollbar-track-piece {
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background-color: #2a73ff;
  border-radius: 7px; 
}


body {
  font-family: acumin-pro, sans-serif;
  font-size: 16px;
  line-height: 28px;
  opacity: 1;
  transition: 0.7s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

h2 {
  font-weight: 400;
  font-family: warnock-pro-display, serif;
  font-size: 80px;
  width: 365px;
}

h3 {
  font-family: acumin-pro-wide, sans-serif;
}

h4 {
  font-family: acumin-pro-wide, sans-serif;
  color: #444444;
  font-size: 20px;
  border-left: 5px solid #f9e369;
  padding-bottom: 4px;
  padding-left: 10px;
  display: inline-block;
}

.header {
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  padding-left: 100px;
  display: flex;
  font-family: acumin-pro-wide, sans-serif;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
}

.header:after {
  width:100%;
  background: #f9e369;
  height: 10px;
  margin-left: -200px;
  content: "";
  display: block;
  margin-top: 90px;
  position: absolute;
}

.content {
  width: 100%;
  padding: 60px 100px 100px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sidebar {
  width: 200px; 
  font-size: 18px;
  margin-top: 30px;
  height: 100%;
  position: fixed;
  text-align: right;
  font-family: acumin-pro, sans-serif;
}

.sidebar a {
  display: block;
  padding: 2px;
  margin: 10px;
  font-family: acumin-pro-wide, sans-serif;
}

.entries {
  width: 100%;
  margin-left: 210px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.whisper {
  color: #888888;
  font-size: 12px;
  padding-bottom: 15px;
}

.credit {
  position: fixed;
  padding: 10px;
  right:30px;
  width: 25px;
  text-overflow: hidden;
  white-space: nowrap;
  /* height: 14px; */
  display:block;
  overflow: hidden;
  background:rgb(255, 255, 255, 0.7);
  bottom: 0;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}


.credit:hover {
  width: 200px;
  right: 30px;
}

.filter {
  padding-bottom: 4px;
  -moz-box-shadow: inset 0px 0px 0px  0.01px #2a73ff;
  -webkit-box-shadow: inset 0px 0px 0px  0.01px  #2a73ff;
  box-shadow: inset 0px 0px 0px  0.01px #2a73ff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.filter:hover {
  -moz-box-shadow: inset 10px 0px 0px  0.01px #f9e369;
  -webkit-box-shadow: inset 10px 0px 0px  0.01px #f9e369;
  box-shadow: inset -20px 0px 0px  0.01px #f9e369;
}

.filter.active {
  -moz-box-shadow: inset 10px 0px 0px 0px #f9e369;
  -webkit-box-shadow: inset 10px 0px 0px 0px #f9e369;
  box-shadow: inset 20px 0px 0px 0px #f9e369;
}